@model List<WebApplication1.Models.Produto>

<h1>Lista de Produtos</h1>



<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">


        @{
            foreach(var produto in Model){
                <div class="col">

                    <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">#@produto.Id @produto.Nome</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">R$@produto.Valor</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>@produto.Desc</li>
                            <li><small>[@produto.Data] | [@produto.Cat]</small></li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Comprar Agora</button>
                    </div>
                    </div>

                </div>
            }
        }


    </div>